.bonuses {
  width: 100%;
  .one-pip { 
    position: absolute;
    margin-left: 120px;
    width: 100%;
    height: 20px;
    font-size: 1.4em;
    font-weight: bolder;
    animation-name: pips;
    animation-duration: 1.8s;
    animation-iteration-count: single;
    animation-play-state: running;
    animation-timing-function: linear;
  }
}

@keyframes pips {
  0% {
    // background-color: red;
    color: green;
    bottom: 80%;
    left: 0%;
  }
  50% { color: $greenSnake; }
  100% {
    // background-color: green;
    color: transparent;
    bottom: 3000%;
    left: 10%;
  }
}