.clicker {
  display: inline-block;
  background: $baseRed;
  border-radius: 50%;
  border: 10px solid $lightBlue; /* button trim */
  width: 230px;
  height: 230px;
}
/* CLICKER ANIMATIONS */
.clicker-animation {
  animation-name: clicker;
  animation-duration: 0.12s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes clicker {
  0%, 100% {
    background-color: $baseRed;
  }
  50% {
    background-color: $lightOrange;
  }
}

/* TOTAL CLICK ANIMATIONS */
.original-click-counter {
  animation-name: original;
  animation-duration: 0.28s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes original {
  0%, 100% {
    font-size: 2em;
    font-weight: bold;
    color: $black;
  }
  50% {
    font-size: 2.3em;
    color: $baseOrange;
  }
}

.highscore-click-counter {
  animation-name: highscore;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes highscore {
  0%, 100% {
    font-size: 1.9em;
    font-weight: bold;
    color: $lightOrange;
  }
  50% {
    font-size: 2.3em;
    color: $baseRed;
  }
}
