$red: #F73B01;
$yellow: #FFDC01;
$orange: #FDAC01;
$lightOrange: #FFCD64;
$umber: #70392F;
$white: #FFFFFF;
$black: #000000;
$greenSnake: #6CBB3C;

// "border"
$baseBorder: #068282;
$lightBlue: #6A9696;

// "base"
$baseRed: #D80A0A;
$lightRed: #F9B1B1;

// "fire"
$baseOrange: #D8670A;
$lightOrange: #F9D2B1;
