.messages {
	margin-bottom: 10px;
	.game-over-message {
		h3 {
			font-size: 1.8em;
			animation-name: colorChange;
			animation-duration: 2s;
			animation-play-state: running;
			animation-timing-function: linear;
			width: auto;
		}
	}
}
@keyframes colorChange {
	0%, 50% {
		color: $lightOrange;
	}
	25%, 65% {
		color: $red;
	}
	100% {
		color: $black;
		letter-spacing: 5px;
		font-weight: bolder;
	}
}