// BADGE EFFECTS
.fireball {
  animation-name: fireballColorChange;
  animation-duration: 2s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.click-rage-badge {
  animation-name: clickRageBadgeColorChange;
  animation-duration: 4s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes fireballColorChange {
  0%, 100% {
    color: $baseRed;
  }
  30% {
    color: $baseOrange;
  }
  60% {
    color: $orange;
  }
}
@keyframes clickRageBadgeColorChange {
  0%, 100% {
    color: gray;
  }
  40% {
    color: $baseRed;
  }
}
// SCORES EFFECTS
.flame-box {
  width: 100%;
  .flames {
    position: absolute;
    background-color: transparent;
    height: 10px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    // animation-duration: 3s;
    &:nth-of-type(1) {
      animation-name: firstFlameBurstWide;
      animation-duration: .3s;
      width: 100%;
    }
    &:nth-of-type(2) {
      animation-name: secondFlameBurstWide;
      animation-duration: .3s;
      width: 100%;
    }
    &:nth-of-type(3) {
      animation-name: flameBurstCenter;
      animation-duration: .3s;
    }
    &:nth-of-type(4) {
      animation-name: flameBurstLeftCenter;
      animation-duration: .28s;
    }
    &:nth-of-type(5) {
      animation-name: flameBurstRight;
      animation-duration: .25s;
    }
    &:nth-of-type(6) {
      animation-name: flameBurstLeft;
      animation-duration: .32s;
    }
    &:nth-of-type(7) {
      animation-name: flameBurstRightCenter;
      animation-duration: .35s;
    }
  }
}
@keyframes firstFlameBurstWide {
  // COLOR CHANGE
  0%, 100% { background-color: transparent; }
  30% { background-color: $red; }
  40% { background-color: $orange; }
  60% { background-color: $lightOrange; }
  // VERTICAL MOVEMENT
  0% { bottom: 70%; }
  100% { bottom: 150%; }
  // CENTER & TRANSFORM WIDTH OF BURST
  0%, 100% { transform: scale(0); }
  35% { transform: scale(.75); }
}
@keyframes secondFlameBurstWide {
  // COLOR CHANGE
  0%, 100% { background-color: transparent; }    
  20% { background-color: $red; }
  40% { background-color: $lightOrange; }
  // VERTICAL MOVEMENT
  0% { bottom: 80%; }
  100% { bottom: 200%; }
  // CENTER & TRANSFORM WIDTH OF BURST
  0% { transform: scale(0); }
  100% { transform: scale(.6); }
}
@keyframes flameBurstLeft {
  // COLOR CHANGE
  0%, 100% { background-color: transparent; }
  10% { background-color: $umber; }
  50% { background-color: $orange; }
  80% { background-color: $yellow; }
  // VERTICAL MOVEMENT
  0% { bottom: 70%; }
  100% { bottom: 180%; }
  // LATERAL MOVEMENT & WIDTH OF FLAME
  0% { left: 10%; width: 5px; }
  45% { left: 20%; width: 10px; }
  75% { left: 18%; width: 8px; }
  100% { left: 15%; width: 3px; }
}  
@keyframes flameBurstLeftCenter {
  // COLOR CHANGE
  0%, 100% { background-color: transparent; }
  10% { background-color: $umber; }
  50% { background-color: $orange; }
  80% { background-color: $yellow; }
  // VERTICAL MOVEMENT
  0% { bottom: 70%; }
  100% { bottom: 200%; }
  // LATERAL MOVEMENT & WIDTH OF FLAME
  0% { left: 40%; width: 5px; }
  55% { left: 25%; width: 10px; }
  85% { left: 30%; width: 8px; }
  100% { left: 35%; width: 5px; }
}
@keyframes flameBurstCenter {
  // COLOR CHANGE
  0%, 100% { background-color: transparent; }
  15% { background-color: $umber; }
  50% { background-color: $orange; }
  80% { background-color: $yellow; }
  // VERTICAL MOVEMENT
  0% { bottom: 50%; }
  100% { bottom: 200%; }
  // LATERAL MOVEMENT & WIDTH OF FLAME
  0% { left: 50%; width: 5px; }
  15% { left: 40%; width: 10px; }
  80% { left: 45%; width: 8px; }
  100% { left: 50%; width: 5px; }
}
@keyframes flameBurstRightCenter {
  // COLOR
  // 0%, 100% { background-color: $black; }
  0%, 100% { background-color: transparent; }
  5% { background-color: $umber; }
  50% { background-color: $orange; }
  80% { background-color: $yellow; }
  // VERTICAL
  0% { bottom: 60%; }
  100% { bottom: 200%; }
  // LATERAL
  0% { left: 60%; width: 5px; }
  20% { left: 65%; width: 8px; }
  70% { left: 80%; width: 5px; }
  100% { left: 75%; width: 3px; }
}
@keyframes flameBurstRight {
// COLOR CHANGE
// 0%, 100% { background-color: $black; }
  0%, 100% { background-color: transparent; }
  5% { background-color: $umber; }
  50% { background-color: $orange; }
  80% { background-color: $yellow; }
  // VERTICAL MOVEMENT
  0% { bottom: 50%; }
  100% { bottom: 180%; }
  // LATERAL MOVEMENT & WIDTH OF FLAME
  0% { left: 70%; width: 5px; }
  25% { left: 75%; width: 8px; }
  80% { left: 85%; width: 5px; }
  100% { left: 80%; width: 3px; }
}