$oswald: 'Oswald', sans-serif; // narrow & bold
$pangolin: 'Pangolin'; // sans serif-wide
$supermercado: 'supermercado One'; // serif-kungfu cursive
$bitter: 'Bitter', serif; // wide-serif
$oxygen: 'Oxygen', sans-serif; // wide-easy to read