
// scores component
.flaming {
  animation-name: pulsingHighScore;
  animation-duration: .3s;
  animation-play-state: running;
  animation-iteration-count: infinite;
}
@keyframes pulsingHighScore {
  0%, 100% { color: #000000; font-size: 1em; }
  45% { color: red; font-size: 1.1em; }
}