h2 {
    text-align: center;
    &.attempts {
      position: relative;
      width: auto;
      margin-top: 20px;
      .number {
        font-size: 1.2em;
        animation-name: attemptsColorChange;
        animation-duration: 3s;
        animation-play-state: running;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
  }
.instructions {
  font-size: 1.2em;
  .red-button {
    color: $red;
  }
  .emphasis {
    font-style: italic;
  }
}
@keyframes attemptsColorChange {
  0%, 100% {
    color: $black;
    font-weight: bolder;
  }
  35% { 
    color: $baseRed; 
  }
}