h3 {
	&.count-down-timer {
		margin-top: 5%;
		font-size: 1.8em;
		width: auto;
		animation-name: timerAction;
		animation-duration: 1s;
		animation-play-state: running;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}
@keyframes timerAction {
	0% {
		color: $black;
		letter-spacing: 2px;
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		letter-spacing: default;
	}
}