/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
// font-family: 'Supermercado One', cursive;
@import "compass/reset";
@import "_colors";
@import "_scores.component";
@import "_fonts";
@import "_flames";
@import "_bonuses";
@import "_buttonFX";
@import "_controlMessages";
@import "_timer";
@import "_text";

body {
  margin: 3px;
  .contain-bouncy-box {
    min-height: 110px;
  }
  .stop-bouncy-box {
    min-height: 70px;
    // background-color: $red;
  }
  .clicker-style {
    text-align: center;
  }
  h3 {
    &.your-last-score {
      position: relative;
      font-family: $bitter;
      font-size: 1.2em;
    }
    &.high-score {
      position: relative;
      font-family: $bitter;
      font-size: 1.2em;
    }
  }
  text-align: left;
  font-family: $oxygen;
}