<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#header-nav"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">
        <i class="fas fa-fire fireball"></i> &nbsp;<span class="click-rage-badge">Click Rage</span>
      </a>
    </div>

    <div class="collapse navbar-collapse"
      id="header-nav"
    >
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#"
            (click)="dropMain()"
            *ngIf="!gameStarted;else countDown"
          >Ready to Rage?
          </a>
            <ng-template #countDown>
              <a href="#" style="font-style:bold">
                Rage! Rage! Rage! {{timer}}
              </a>  
            </ng-template>
        </li>
        <li class="dropdown">
          <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            About <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"
              (click)="dropInstructions()"
            >Instructions</a></li>
            <li><a href="https://angular.io/docs">Go to > Powered by Angular 5</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>