<h3 style="float:left" class="your-last-score">
  <!-- <div class="flame-box">
    <div class="flames"></div>
    <div class="flames"></div>
    <div class="flames"></div>
    <div class="flames"></div>
    <div class="flames"></div>
    <div class="flames"></div>
    <div class="flames"></div>
  </div> -->
  Last Score: {{capturedClicks}}
</h3>

<h3 style="float:right" class="high-score">
  <div *ngIf="brokenHighScore === true">
      <div class="flame-box">
        <div class="flames"></div>
        <div class="flames"></div>
        <div class="flames"></div>
        <div class="flames"></div>
        <div class="flames"></div>
      	<div class="flames"></div>
      	<div class="flames"></div>
      </div>
  </div>
  
  <div *ngIf="attempts === false; else highScoreBrokenCounter">
    High Score: {{defaultHighScore}}
  </div>
  <ng-template #highScoreBrokenCounter>
    <span [ngClass]="{'flaming': brokenHighScore === true }">High Score: {{capturedHighScore}}</span>
  </ng-template>
</h3>