<div class="row">
  <div class="col-md-12"
    *ngIf="!gameStarted; else showClicker"
  >
    <button class="btn btn-lg btn-danger"
      (click)="startRaging()"
      *ngIf="!pause_rage_button; else paused"
    >
      Press to Start Raging!
    </button>
    <ng-template #paused>
      <app-messages [game_ended_message]="game_ended_message"></app-messages>
      <button class="btn btn-lg btn-danger"
        [disabled]="true"
      >
        Times Up!!!
    </button>
    </ng-template>
  </div>

  <ng-template #showClicker>
    <div class="col-md-12">
      <div class="clicker"
        (click)="pressClicker($event)"
        [ngClass]="{'clicker-animation': colorChange === true}"
      >
        </div>
    </div>
    <div class="col-md-12">
      <app-messages [gained_bonus]="gained_bonus"></app-messages>
    </div>
    <div class="col-md-12">
      <div class="contain-bouncy-box">
        <div class="stop-bouncy-box">
          <span class="original-click-counter"
            [ngClass]="{'highscore-click-counter': highScore === true}"
          >Total Clicks: {{totalClicks}}</span> <!-- highscore-click-counter NOT CURRENTLY USED -->
        </div>
        <h3 class="count-down-timer">Timer: {{countDownTimer}}</h3>
      </div>
    </div>
  </ng-template>
</div>