<app-header [timer]="watchedTimer"
  [gameStarted]="stopStartGame.gameStarted"
  (changePage)="currentPage = $event"
>
  </app-header>
<div class="containing-the-rage">
  <div class="row">
    <div class="col-xs-12">
      
      <div class="row">
        <div class="col-xs-12">
          <div class="stop-bouncy-box">
            <app-scores [capturedClicks]="nowClicks"
              [capturedHighScore]="watchedHighScore"
              [emittedEndGame]="signalGameEnded"
            ></app-scores>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="clicker-style">
            <app-clicker (sendAttempts)="attempts = $event"
            (onTimerFinish)="scores = $event"
            (signalGameEnded)="signalGameEnded = $event"
            (sendClicks)="nowClicks = $event"
            (watchHighScore)="watchedHighScore = $event"
            (watchTimer)="watchedTimer = $event"
            (stopStartGame)="stopStartGame = $event"
            *ngIf="currentPage['main'] === true; else instructions"
            ></app-clicker>
          </div>

          <h2 *ngIf="attempts; else noAttempts"
          class="attempts">
            Attempts: <span class="number">{{attempts}}</span>
          </h2>
          <ng-template #noAttempts></ng-template>
          <ng-template #instructions>
            <div class="instructions">
              The game is simple. Click the big, <span class="red-button">red button</span> as many times as you can within the 8 second time limit.<br />
              Gain +1 second as a Bonus for clicking faster!<br />
              <hr>
              This is version 1.0 of <span class="emphasis">Click Rage</span>. The next version will include a Leader Board so that you and your friends can <span class="emphasis">battle</span>!<br />
            </div>
          </ng-template>
        </div>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>