<!-- BONUS -->
<h2 *ngIf="show_bonus"
>+1 Bonus Time!</h2>

<div class="messages">
	<div class="bonuses">
		<div *ngIf="gained_bonus"
		class="one-pip">+1 time bonus</div>
	</div>
	<div class="game-over-message"
		*ngIf="game_ended_message"
	>
		<h3>Game Over</h3>
	</div>
</div>