/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.gem/ruby/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_scores.component.scss */
.flaming {
  animation-name: pulsingHighScore;
  animation-duration: .3s;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

@keyframes pulsingHighScore {
  0%, 100% {
    color: #000000;
    font-size: 1em;
  }
  45% {
    color: red;
    font-size: 1.1em;
  }
}
/* line 2, ../sass/_flames.scss */
.fireball {
  animation-name: fireballColorChange;
  animation-duration: 2s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* line 9, ../sass/_flames.scss */
.click-rage-badge {
  animation-name: clickRageBadgeColorChange;
  animation-duration: 4s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fireballColorChange {
  0%, 100% {
    color: #D80A0A;
  }
  30% {
    color: #D8670A;
  }
  60% {
    color: #FDAC01;
  }
}
@keyframes clickRageBadgeColorChange {
  0%, 100% {
    color: gray;
  }
  40% {
    color: #D80A0A;
  }
}
/* line 36, ../sass/_flames.scss */
.flame-box {
  width: 100%;
}
/* line 38, ../sass/_flames.scss */
.flame-box .flames {
  position: absolute;
  background-color: transparent;
  height: 10px;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
/* line 46, ../sass/_flames.scss */
.flame-box .flames:nth-of-type(1) {
  animation-name: firstFlameBurstWide;
  animation-duration: .3s;
  width: 100%;
}
/* line 51, ../sass/_flames.scss */
.flame-box .flames:nth-of-type(2) {
  animation-name: secondFlameBurstWide;
  animation-duration: .3s;
  width: 100%;
}
/* line 56, ../sass/_flames.scss */
.flame-box .flames:nth-of-type(3) {
  animation-name: flameBurstCenter;
  animation-duration: .3s;
}
/* line 60, ../sass/_flames.scss */
.flame-box .flames:nth-of-type(4) {
  animation-name: flameBurstLeftCenter;
  animation-duration: .28s;
}
/* line 64, ../sass/_flames.scss */
.flame-box .flames:nth-of-type(5) {
  animation-name: flameBurstRight;
  animation-duration: .25s;
}
/* line 68, ../sass/_flames.scss */
.flame-box .flames:nth-of-type(6) {
  animation-name: flameBurstLeft;
  animation-duration: .32s;
}
/* line 72, ../sass/_flames.scss */
.flame-box .flames:nth-of-type(7) {
  animation-name: flameBurstRightCenter;
  animation-duration: .35s;
}

@keyframes firstFlameBurstWide {
  0%, 100% {
    background-color: transparent;
  }
  30% {
    background-color: #F73B01;
  }
  40% {
    background-color: #FDAC01;
  }
  60% {
    background-color: #F9D2B1;
  }
  0% {
    bottom: 70%;
  }
  100% {
    bottom: 150%;
  }
  0%, 100% {
    transform: scale(0);
  }
  35% {
    transform: scale(0.75);
  }
}
@keyframes secondFlameBurstWide {
  0%, 100% {
    background-color: transparent;
  }
  20% {
    background-color: #F73B01;
  }
  40% {
    background-color: #F9D2B1;
  }
  0% {
    bottom: 80%;
  }
  100% {
    bottom: 200%;
  }
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.6);
  }
}
@keyframes flameBurstLeft {
  0%, 100% {
    background-color: transparent;
  }
  10% {
    background-color: #70392F;
  }
  50% {
    background-color: #FDAC01;
  }
  80% {
    background-color: #FFDC01;
  }
  0% {
    bottom: 70%;
  }
  100% {
    bottom: 180%;
  }
  0% {
    left: 10%;
    width: 5px;
  }
  45% {
    left: 20%;
    width: 10px;
  }
  75% {
    left: 18%;
    width: 8px;
  }
  100% {
    left: 15%;
    width: 3px;
  }
}
@keyframes flameBurstLeftCenter {
  0%, 100% {
    background-color: transparent;
  }
  10% {
    background-color: #70392F;
  }
  50% {
    background-color: #FDAC01;
  }
  80% {
    background-color: #FFDC01;
  }
  0% {
    bottom: 70%;
  }
  100% {
    bottom: 200%;
  }
  0% {
    left: 40%;
    width: 5px;
  }
  55% {
    left: 25%;
    width: 10px;
  }
  85% {
    left: 30%;
    width: 8px;
  }
  100% {
    left: 35%;
    width: 5px;
  }
}
@keyframes flameBurstCenter {
  0%, 100% {
    background-color: transparent;
  }
  15% {
    background-color: #70392F;
  }
  50% {
    background-color: #FDAC01;
  }
  80% {
    background-color: #FFDC01;
  }
  0% {
    bottom: 50%;
  }
  100% {
    bottom: 200%;
  }
  0% {
    left: 50%;
    width: 5px;
  }
  15% {
    left: 40%;
    width: 10px;
  }
  80% {
    left: 45%;
    width: 8px;
  }
  100% {
    left: 50%;
    width: 5px;
  }
}
@keyframes flameBurstRightCenter {
  0%, 100% {
    background-color: transparent;
  }
  5% {
    background-color: #70392F;
  }
  50% {
    background-color: #FDAC01;
  }
  80% {
    background-color: #FFDC01;
  }
  0% {
    bottom: 60%;
  }
  100% {
    bottom: 200%;
  }
  0% {
    left: 60%;
    width: 5px;
  }
  20% {
    left: 65%;
    width: 8px;
  }
  70% {
    left: 80%;
    width: 5px;
  }
  100% {
    left: 75%;
    width: 3px;
  }
}
@keyframes flameBurstRight {
  0%, 100% {
    background-color: transparent;
  }
  5% {
    background-color: #70392F;
  }
  50% {
    background-color: #FDAC01;
  }
  80% {
    background-color: #FFDC01;
  }
  0% {
    bottom: 50%;
  }
  100% {
    bottom: 180%;
  }
  0% {
    left: 70%;
    width: 5px;
  }
  25% {
    left: 75%;
    width: 8px;
  }
  80% {
    left: 85%;
    width: 5px;
  }
  100% {
    left: 80%;
    width: 3px;
  }
}
/* line 1, ../sass/_bonuses.scss */
.bonuses {
  width: 100%;
}
/* line 3, ../sass/_bonuses.scss */
.bonuses .one-pip {
  position: absolute;
  margin-left: 120px;
  width: 100%;
  height: 20px;
  font-size: 1.4em;
  font-weight: bolder;
  animation-name: pips;
  animation-duration: 1.8s;
  animation-iteration-count: single;
  animation-play-state: running;
  animation-timing-function: linear;
}

@keyframes pips {
  0% {
    color: green;
    bottom: 80%;
    left: 0%;
  }
  50% {
    color: #6CBB3C;
  }
  100% {
    color: transparent;
    bottom: 3000%;
    left: 10%;
  }
}
/* line 1, ../sass/_buttonFX.scss */
.clicker {
  display: inline-block;
  background: #D80A0A;
  border-radius: 50%;
  border: 10px solid #6A9696;
  /* button trim */
  width: 230px;
  height: 230px;
}

/* CLICKER ANIMATIONS */
/* line 10, ../sass/_buttonFX.scss */
.clicker-animation {
  animation-name: clicker;
  animation-duration: 0.12s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes clicker {
  0%, 100% {
    background-color: #D80A0A;
  }
  50% {
    background-color: #F9D2B1;
  }
}
/* TOTAL CLICK ANIMATIONS */
/* line 26, ../sass/_buttonFX.scss */
.original-click-counter {
  animation-name: original;
  animation-duration: 0.28s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes original {
  0%, 100% {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
  }
  50% {
    font-size: 2.3em;
    color: #D8670A;
  }
}
/* line 44, ../sass/_buttonFX.scss */
.highscore-click-counter {
  animation-name: highscore;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes highscore {
  0%, 100% {
    font-size: 1.9em;
    font-weight: bold;
    color: #F9D2B1;
  }
  50% {
    font-size: 2.3em;
    color: #D80A0A;
  }
}
/* line 1, ../sass/_controlMessages.scss */
.messages {
  margin-bottom: 10px;
}
/* line 4, ../sass/_controlMessages.scss */
.messages .game-over-message h3 {
  font-size: 1.8em;
  animation-name: colorChange;
  animation-duration: 2s;
  animation-play-state: running;
  animation-timing-function: linear;
  width: auto;
}

@keyframes colorChange {
  0%, 50% {
    color: #F9D2B1;
  }
  25%, 65% {
    color: #F73B01;
  }
  100% {
    color: #000000;
    letter-spacing: 5px;
    font-weight: bolder;
  }
}
/* line 2, ../sass/_timer.scss */
h3.count-down-timer {
  margin-top: 5%;
  font-size: 1.8em;
  width: auto;
  animation-name: timerAction;
  animation-duration: 1s;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes timerAction {
  0% {
    color: #000000;
    letter-spacing: 2px;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    letter-spacing: default;
  }
}
/* line 1, ../sass/_text.scss */
h2 {
  text-align: center;
}
/* line 3, ../sass/_text.scss */
h2.attempts {
  position: relative;
  width: auto;
  margin-top: 20px;
}
/* line 7, ../sass/_text.scss */
h2.attempts .number {
  font-size: 1.2em;
  animation-name: attemptsColorChange;
  animation-duration: 3s;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* line 17, ../sass/_text.scss */
.instructions {
  font-size: 1.2em;
}
/* line 19, ../sass/_text.scss */
.instructions .red-button {
  color: #F73B01;
}
/* line 22, ../sass/_text.scss */
.instructions .emphasis {
  font-style: italic;
}

@keyframes attemptsColorChange {
  0%, 100% {
    color: #000000;
    font-weight: bolder;
  }
  35% {
    color: #D80A0A;
  }
}
/* line 17, ../sass/screen.scss */
body {
  margin: 3px;
  text-align: left;
  font-family: "Oxygen", sans-serif;
}
/* line 19, ../sass/screen.scss */
body .contain-bouncy-box {
  min-height: 110px;
}
/* line 22, ../sass/screen.scss */
body .stop-bouncy-box {
  min-height: 70px;
}
/* line 26, ../sass/screen.scss */
body .clicker-style {
  text-align: center;
}
/* line 30, ../sass/screen.scss */
body h3.your-last-score {
  position: relative;
  font-family: "Bitter", serif;
  font-size: 1.2em;
}
/* line 35, ../sass/screen.scss */
body h3.high-score {
  position: relative;
  font-family: "Bitter", serif;
  font-size: 1.2em;
}
